@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 13%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 13%;
    --primary: 30 84% 31%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 48 100% 67%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 30 84% 31%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: hsl(var(--card));
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--card-foreground));
  transition: transform 0.5s;
}

.cover,
.inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  background-color: hsl(var(--secondary));
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-85deg);
}

.book:hover .inner {
  transition: all 0.5s;
  transform: rotatey(0deg);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

.inner {
  background-color: hsl(var(--background));
  transform-origin: 0;
  transform: rotatey(85deg);
  z-index: -1;
  overflow-y: auto;
}

.book:hover {
  transform: scale(1.05);
}
