
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 56% 97%;
    --foreground: 12 23% 11%;
    --card: 0 0% 100%;
    --card-foreground: 12 23% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 12 23% 11%;
    --primary: 33 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 95%;
    --secondary-foreground: 23 8% 45%;
    --muted: 30 10% 95%;
    --muted-foreground: 23 8% 45%;
    --accent: 33 61% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 33% 91%;
    --input: 28 33% 91%;
    --ring: 33 61% 41%;
    --chart-1: 147 62% 50%;
    --chart-2: 217 100% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    position: relative;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
}

.review-card-section {
  --bg-color: hsl(var(--secondary));
  --bg-color-light: hsl(var(--primary));
  --text-color-hover: hsl(var(--card-foreground));
  --box-shadow-color: hsl(var(--primary) / 0.48);
}

.review-card {
  width: 280px;
  height: 420px;
  background: hsl(var(--card));
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
}

.review-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.review-card:hover .review-card__overlay {
  transform: scale(4) translateZ(0);
}

.review-card:hover .review-card__circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.review-card:hover .review-card__circle:after {
  background: var(--bg-color-light);
  opacity: 1;
}

.review-card:hover .review-card__name,
.review-card:hover .review-card__title,
.review-card:hover .review-card__review-text {
  color: var(--text-color-hover);
}

.review-card:hover .review-card__circle svg {
    color: var(--text-color-hover);
}

.review-card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.review-card__name {
  font-size: 1.125rem;
  font-weight: 600;
  color: hsl(var(--card-foreground));
  margin-top: 1.5rem;
  z-index: 10;
  transition: color 0.3s ease-out;
}

.review-card__title {
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
  margin-top: 0.25rem;
  z-index: 10;
  transition: color 0.3s ease-out;
}

.review-card__review-text {
  font-size: 0.875rem; /* 14px */
  color: hsl(var(--muted-foreground));
  margin-top: 1rem;
  z-index: 10;
  transition: color 0.3s ease-out;
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 8px; /* for scrollbar */
  scrollbar-width: thin;
}

.review-card__review-text::-webkit-scrollbar {
  width: 4px;
}
.review-card__review-text::-webkit-scrollbar-track {
  background: transparent;
}
.review-card__review-text::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border));
  border-radius: 20px;
}

.review-card__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
  flex-shrink: 0;
}

.review-card__circle:after {
  content: "";
  width: 88px;
  height: 88px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  transition: opacity 0.3s ease-out;
  opacity: 0.1;
}

.review-card__circle svg {
  z-index: 10000;
  transform: translateZ(0);
  width: 40px;
  height: 40px;
  color: var(--bg-color);
  transition: color 0.3s ease-out;
}

.review-card__overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 15px;
  left: calc(50% - 59px);
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 2.5em; /* 40px */
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  color: #0d0c22;
  transition: all 0.5s;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus, .input:hover {
  outline: none;
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  background-color: white;
}

.icon {
  position: absolute;
  left: 1rem;
  color: #0d0c22;
  width: 1rem;
  height: 1rem;
}

.rdp-day_selected .rdp-button,
.rdp-day_selected:focus .rdp-button,
.rdp-day_selected:hover .rdp-button {
  border-radius: 10px !important;
  border: 2px solid #4a9dec !important;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2) !important;
  background-color: white !important;
  color: #4a9dec !important;
  outline: none !important;
}

.rdp-day:not([disabled]):not(.rdp-day_selected) .rdp-button:hover {
  background-color: #f3f3f3 !important;
  border-radius: 10px !important;
  border: 2px solid transparent !important;
}

.rdp-button {
  border: 2px solid transparent;
  transition: all 0.3s;
}
    
