@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 56% 97%;
    --foreground: 12 23% 11%;
    --card: 0 0% 100%;
    --card-foreground: 12 23% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 12 23% 11%;
    --primary: 33 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 95%;
    --secondary-foreground: 23 8% 45%;
    --muted: 30 10% 95%;
    --muted-foreground: 23 8% 45%;
    --accent: 33 61% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 33% 91%;
    --input: 28 33% 91%;
    --ring: 33 61% 41%;
    --chart-1: 147 62% 50%;
    --chart-2: 217 100% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    position: relative;
  }
  html {
    scroll-behavior: smooth;
  }
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: hsl(var(--card));
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--card-foreground));
  transition: transform 0.5s;
}

.cover,
.inner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  background-color: hsl(var(--secondary));
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-85deg);
}

.book:hover .inner {
  transition: all 0.5s;
  transform: rotatey(0deg);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

.inner {
  background-color: hsl(var(--background));
  transform-origin: 0;
  transform: rotatey(85deg);
  z-index: -1;
  overflow-y: auto;
}

.book:hover {
  transform: scale(1.05);
}

/* From Uiverse.io by ubaidi10 */
/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #25d366;
  transition-duration: 0.3s;
  transform: scale(1.2);
  border-radius: 15px;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 24px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* From Uiverse.io by LightAndy1 */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus, .input:hover {
  outline: none;
  border-color: rgba(247, 127, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  color: #0d0c22;
  width: 1rem;
  height: 1rem;
}

/* Animated Social Icons from user request */
/* From Uiverse.io by vinodjangid07 */
.animated-social-links {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.Btn .svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.Btn .svgContainer svg {
  stroke: hsl(var(--foreground));
  transition: all 0.3s;
}

.Btn .BG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
  font-size: 0px;
}

.Btn.location .BG { background: #d44638; }
.Btn.phone .BG { background: #316ff6; }
.Btn.whatsapp .BG { background: #25D366; }
.Btn.email .BG { background: linear-gradient(180deg, rgba(129, 34, 144, 1) 0%, rgba(77, 34, 124, 1) 91%); }

.Btn:hover .BG {
  transform: scale(1.5);
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  backdrop-filter: blur(4px);
}

.Btn:hover .svgContainer svg {
  stroke: white;
  fill: white;
}
